<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41735700766-k8s0sr4769c009gincbum6rkh9fmm2he.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41735700766-k8s0sr4769c009gincbum6rkh9fmm2he</string>
	<key>API_KEY</key>
	<string>AIzaSyBtYIHsMjXEuLd7BUCaVOm2ozp_WFYIB2s</string>
	<key>GCM_SENDER_ID</key>
	<string>41735700766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OpenBoard.Api.Development</string>
	<key>PROJECT_ID</key>
	<string>openboard-10eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>openboard-10eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41735700766:ios:76a6149fc75dc0b3b8c90f</string>
	<key>DATABASE_URL</key>
	<string>https://openboard-10eeb.firebaseio.com</string>
</dict>
</plist>